/* css file */

body{
	
	background-color: #6699ff;

	text-align: center;

	background-image: url("../pictures/dogwalking.jpg");
	/* background-size: cover; */
	background-repeat: repeat-y;
	background-size: 100%;
	margin-top: 5%;
	margin-bottom: 0%;
	height: 1000px;
}



